@import "tailwind-build";

canvas.signature,img.signature{
	border: 1px solid lightgrey;
}

.iti__override{
	display:block !important;
}

.tl_message { 
	.tl_error{
		@extend .bd-red;
		@extend .ft-red;
	}
	.tl_warning{
		@extend .bd-orange;
		@extend .ft-orange;
	}
	.tl_info{
		@extend .bd-blue;
		@extend .ft-blue;
	}
	.tl_success{
		@extend .bd-green;
		@extend .ft-green;
	}
}
.dialog__confirm {
	position: fixed;
	/* Move it 50% relative to container */
	top: 50%;
	left: 50%;
	/* Move it back 50% relative to self */
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);

	.dialog__header{
		border-bottom: 1px solid grey;
		padding: 0.3em;
		position: sticky;
		top:0;
		background-color: white;
	}

	.dialog__content{
		padding: 0.3em;
	}

	.dialog__footer{
		padding: 0.3em;
	}
}