@import "tailwindcss" prefix(tw);
@import url(https://fonts.bunny.net/css?family=ubuntu-condensed:400|ubuntu-sans:100,200,300,400,500,600,700,800,900);
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../contao/templates/**/*.html.twig";
@source "../../contao/templates/**/*.html5";
@source "./../../../../../vendor/webexmachina/acqpa-inspectors-certification-platform-bundle/contao/templates/**/*.html.twig";
@source "./../../../../../vendor/webexmachina/acqpa-inspectors-certification-platform-bundle/contao/templates/**/*.html5";
@source "./safeword.txt";

@theme{
    --color-acqpa-blue-50: oklch(0.974 0.011 252.087);
    --color-acqpa-blue-100: oklch(0.945 0.021 252.497);
    --color-acqpa-blue-200: oklch(0.885 0.046 245.288);
    --color-acqpa-blue-300: oklch(0.79 0.087 244.452);
    --color-acqpa-blue-400: oklch(0.686 0.13 245.281);
    --color-acqpa-blue-500: oklch(0.601 0.147 248.173);
    --color-acqpa-blue-600: oklch(0.536 0.149 251.832);
    --color-acqpa-blue-700: oklch(0.436 0.12 252.833);
    --color-acqpa-blue-800: oklch(0.392 0.1 251.451);
    --color-acqpa-blue-900: oklch(0.351 0.082 252.262);
    --color-acqpa-blue-950: oklch(0.269 0.061 253.199);
    --color-acqpa-blue: oklch(0.536 0.149 251.832);

    --color-acqpa-accent-50: oklch(0.968 0.017 44.86);
    --color-acqpa-accent-100: oklch(0.933 0.036 43.86);
    --color-acqpa-accent-200: oklch(0.877 0.072 47.89);
    --color-acqpa-accent-300: oklch(0.812 0.121 52.97);
    --color-acqpa-accent-400: oklch(0.746 0.175 60.08);
    --color-acqpa-accent-500: oklch(0.679 0.159 60.08);
    --color-acqpa-accent-600: oklch(0.571 0.133 60.05);
    --color-acqpa-accent-700: oklch(0.465 0.109 60.37);
    --color-acqpa-accent-800: oklch(0.359 0.084 59.85);
    --color-acqpa-accent-900: oklch(0.247 0.057 60.62);
    --color-acqpa-accent-950: oklch(0.19 0.045 59.66);
    --color-acqpa-accent: oklch(0.679 0.159 60.08);

    --color-acqpa-gris-50: oklch(0.964 0.001 287.3);
    --color-acqpa-gris-100: oklch(0.922 0.001 287.25);
    --color-acqpa-gris-200: oklch(0.855 0.001 287.16);
    --color-acqpa-gris-300: oklch(0.777 0.001 287.07);
    --color-acqpa-gris-400: oklch(0.7 0.003 286.63);
    --color-acqpa-gris-500: oklch(0.631 0.003 286.58);
    --color-acqpa-gris-600: oklch(0.553 0.003 286.53);
    --color-acqpa-gris-700: oklch(0.479 0.005 286.34);
    --color-acqpa-gris-800: oklch(0.361 0.005 286.23);
    --color-acqpa-gris-900: oklch(0.249 0.004 286.21);
    --color-acqpa-gris-950: oklch(0.197 0.004 286.09);

    --font-body: "Ubuntu Sans", sans-serif;
    --font-alternative: "Ubuntu Condensed", sans-serif;

}
body{
    @apply tw:bg-white tw:font-body tw:text-acqpa-gris-800;
}

#container > main{
    @apply tw:p-6 tw:rounded-md;
}

#container-simple > main > div{
    @apply tw:p-6 tw:rounded-md;
}


#mainNav{
    #menu-button-1{
        @apply tw:!bg-transparent;
    }
}

main {
    label{
        @apply tw:text-acqpa-gris-700;
    }
    @apply tw:text-acqpa-gris-800;
    .select2FW-wrapper .select2-container .select2-selection,
    input[type="date"], input[type="email"], input[type="number"], input[type="password"],
    input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"],
    textarea, select, .captcha{
        @apply tw:mt-1 tw:m-0 tw:block tw:w-full tw:rounded-md tw:border-acqpa-gris-300 tw:focus:border-acqpa-gris-500 tw:focus:bg-white tw:focus:ring-0;
        @apply tw:disabled:bg-acqpa-gris-100/50 tw:disabled:text-acqpa-gris-800/70 tw:disabled:border-acqpa-gris-100/50 tw:hover:disabled:bg-acqpa-gris-100/70 tw:hover:disabled:border-acqpa-gris-100/70 tw:disabled:cursor-not-allowed;
    }
    .select2FW-wrapper .select2-container{
        @apply tw:m-0;
    }

    input.checkbox:checked + label::before{
        @apply tw:bg-acqpa-gris-600;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }


    input.checkbox + label{
        @apply tw:before:rounded tw:before:bg-acqpa-gris-200 tw:before:border-transparent tw:before:size-4 tw:before:absolute tw:before:-right-0.5;
        @apply tw:before:focus:border-transparent tw:before:focus:bg-acqpa-gris-200 tw:before:text-acqpa-gris-700;

        @apply tw:after:!sr-only tw:after:content-none;
    }

    .comment_acqpa_block{
        input.checkbox + label{
            @apply tw:before:bg-acqpa-orange-300;
        }
        input.checkbox:checked + label::before{
            @apply tw:bg-acqpa-blue-500;
        }
    }

    .signature_acqpa_block{
        input.checkbox:checked + label::before{
            @apply tw:bg-acqpa-blue-500;
        }
    }



    .btn, .btn-lg, .btn-load, .btn-sm, .btn-submit, [class*="btn-bd-"], [class*="btn-bg-"], button:where([type="submit"], [type="button"]), input:where([type="submit"], [type="button"]){
        @apply tw:uppercase tw:rounded-md tw:bg-acqpa-blue-600 tw:px-4 tw:py-1.5 tw:text-sm tw:font-semibold tw:text-white tw:transition-all;
        @apply tw:disabled:opacity-20 tw:disabled:cursor-not-allowed;
    }
    .btn-red, .btn-error{
        @apply  tw:bg-red-500 tw:hover:bg-red-600 tw:border-red-600;
    }
    .btn-green, .btn-success {
        @apply  tw:bg-lime-500 tw:hover:bg-lime-600 tw:border-lime-600;
    }
    .btn-orange, .btn-warning{
        @apply  tw:bg-orange-500 tw:hover:bg-orange-600 tw:border-orange-600;
    }
    .btn-reverse, .btn-secondary{
        @apply  tw:bg-acqpa-blue-100 tw:hover:bg-acqpa-blue-100 tw:text-acqpa-blue-600 tw:border-acqpa-blue-100 ;
    }

    .widget-checkbox legend{
        @apply tw:float-none;
    }
}

h1, h2, h3, h4, h5, h6{
    @apply tw:font-bold tw:text-acqpa-gris-900 tw:tracking-tight;
}

.bg-white .formbody{
    .select2FW-wrapper .select2-container .select2-selection,
    input[type],
    .textarea{
        @apply tw:border-acqpa-gris-100;
    }
}


.formbody .widget{
    @apply tw:content-start;
}

/*.mod_personalData .formbody{*/
/*        @apply tw:grid tw:gap-2 tw:md:grid-cols-[1fr_1fr] tw:md:gap-3;*/
/*}*/

/* Style pour le formulaire de login */

/*.mod_registration .formbody{*/
/*    @apply tw:grid tw:grid-cols-1 tw:gap-2 tw:md:grid-cols-2 tw:md:gap-4;*/
/*    .widget-submit{*/
/*        @apply tw:col-start-1 tw:col-end-2 tw:md:col-end-3;*/
/*        button{*/
/*            @apply tw:w-full tw:mt-4;*/
/*        }*/
/*    }*/
/*}*/

table p{
    @apply tw:m-0;
}

#main-menu .level_1{
    @apply tw:flex tw:space-x-4 tw:p-0 tw:m-0;
    li a{
        @apply tw:uppercase tw:px-3 tw:py-2 tw:text-lg tw:font-semibold tw:transition tw:!text-acqpa-gris-800 tw:hover:!text-acqpa-gris-900 ;
    }
    li.active strong{
        @apply tw:uppercase tw:px-3 tw:py-2 tw:text-lg tw:font-bold tw:!text-acqpa-accent;
    }
}

#mobile-menu .level_1{
    @apply tw:space-y-1 tw:px-2 tw:pt-2 tw:pb-3;
    li a{
        @apply tw:block tw:rounded-md tw:px-3 tw:py-2 tw:text-base tw:font-medium tw:!text-acqpa-gris-300 tw:hover:text-white;
    }
    li.active strong{
        @apply tw:block tw:rounded-md tw:px-3 tw:py-2 tw:text-base tw:font-medium tw:!text-white;
    }
}

#menu-0 .level_1{
    @apply tw:space-y-1 tw:px-2 tw:p-0 tw:m-0;

    li a{
        @apply tw:block tw:px-4 tw:py-2 tw:text-sm tw:text-acqpa-gris-700 tw:focus:outline-hidden;
    }
}

.secondary-nav{
    ul li{
        > *{ @apply tw:text-acqpa-gris-700 tw:font-semibold;}

        .active{ @apply tw:text-acqpa-accent; }
    }
}


.tw-pill{
    @apply tw:inline-flex tw:bg-white tw:items-center tw:gap-x-1.5 tw:rounded-full tw:px-2 tw:py-1 tw:text-xs tw:font-medium tw:text-acqpa-gris-800 tw:inset-ring tw:inset-ring-acqpa-gris-300;
    svg{
        @apply tw:size-1.5;
    }
    &.tw-pill-refused svg{
        @apply tw:fill-red-500;
    }
    &.tw-pill-validated svg{
        @apply tw:fill-green-500;
    }
    &.tw-pill-draft svg{
        @apply tw:fill-neutral-500;
    }
    &.tw-pill-to_review_acqpa svg{
        @apply tw:fill-indigo-500;
    }
    &.tw-pill-to_sign_company svg{
        @apply tw:fill-yellow-500;
    }
    &.tw-pill-to_review_cci svg{
        @apply tw:fill-pink-500;
    }
    &.tw-pill-reviewed_acqpa_changes_asked svg{
        @apply tw:fill-orange-500;
    }
}
.mod_article.block{
    @apply tw:overflow-visible;
}

ol.vertical-menu{
    @apply tw:space-y-4 tw:m-0 tw:p-0;
    counter-reset: section;
    .element-wrapper{
        .icon{
            @apply tw:before:size-4 tw:before:text-acqpa-gris-500 tw:before:inline-block;
            @apply tw:before:antialiased tw:before:content-['\e105'];
            font: var(--fa-font-duotone-light);
        }
        @apply tw:items-center tw:grid tw:gap-2 tw:grid-cols-[auto_1fr_auto] tw:w-full tw:p-3 tw:text-acqpa-gris-700 tw:border tw:border-acqpa-gris-300 tw:rounded-lg tw:bg-acqpa-gris-50;
        @apply tw:before:content-[counter(section)] tw:before:uppercase tw:before:font-medium;

        h3{
            @apply tw:font-medium tw:text-acqpa-gris-700 tw:text-base tw:uppercase tw:m-0;
        }
        &.current{
            @apply tw:text-acqpa-blue-700 tw:border-acqpa-blue-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-acqpa-blue-500;}
            h3{@apply tw:text-acqpa-blue-700;}
            .icon{@apply tw:before:text-acqpa-blue-700 tw:before:content-['\e20e'];}
        }
        &.step-fill-complete {
            .vertical-menu-element i{@apply tw:size-4 tw:text-green-500;}
            .icon{@apply tw:before:text-green-700 tw:before:content-['\f058'];}
        }
        &.step-fill-mixed {
            .vertical-menu-element i{@apply tw:size-4 tw:text-orange-500;}
            .icon{@apply tw:before:text-orange-700 tw:before:content-['\f06a'];}
        }
        &.step-fill-void {
            .vertical-menu-element i{@apply tw:size-4 tw:text-slate-500;}
            .icon{@apply tw:before:text-slate-700 tw:before:content-['\e105'];}
        }
        &.step-validation-ongoing{
            @apply tw:text-violet-700 tw:border-violet-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-violet-500;}
            h3{@apply tw:text-violet-700;}
            .icon{@apply tw:before:text-violet-700 tw:before:content-['\f0a9'];}
        }
        &.step-validation-success{
            @apply tw:text-lime-700 tw:border-lime-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-lime-500;}
            h3{@apply tw:text-lime-700;}
            .icon{@apply tw:before:text-lime-700 tw:before:content-['\e1d9'];}
        }
        &.step-validation-not-started{
            @apply tw:text-slate-700 tw:border-slate-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-slate-500;}
            h3{@apply tw:text-slate-700;}
            .icon{@apply tw:before:text-slate-700 tw:before:content-['\e105'];}
        }
        &.step-validation-error{
            @apply tw:text-red-700 tw:border-red-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-red-500;}
            h3{@apply tw:text-red-700;}
            .icon{@apply tw:before:text-red-700 tw:before:content-['\f2ee'];}
        }

    }
    .element-wrapper::before {
        counter-increment: section 1;
    }


}

/* footer */
#footer{
    @apply tw:bg-acqpa-gris-100;
}
.mod_customnav{
    h3{
        @apply tw:text-acqpa-gris-900 tw:font-bold tw:text-lg tw:normal-case tw:m-0 tw:p-0;
    }
    ul{
        @apply tw:m-0 tw:p-0;
        li{
            a{
                @apply tw:text-acqpa-gris-800 tw:font-medium tw:text-sm;
            }
        }
    }
}

input[type="file"]{
    @apply tw:w-full tw:overflow-clip tw:rounded-md tw:border tw:border-acqpa-gris-300 tw:text-sm tw:file:mr-4;
    @apply tw:file:border-none tw:file:bg-acqpa-gris-50 tw:file:px-4 tw:file:py-2 tw:file:font-medium;
    @apply tw:focus-visible:outline-2 tw:focus-visible:outline-offset-2 tw:focus-visible:outline-acqpa-blue tw:disabled:cursor-not-allowed tw:disabled:opacity-75;
}

.modalFW__wrapper{
    @apply tw:rounded-md tw:overflow-hidden;
    .modalFW__content{
        @apply tw:p-4;
    }
    .modalFW__header{
        @apply tw:bg-acqpa-gris-50;
        .modalFW__title{
            @apply tw:border-0
        }
    }
}
.bd-error.ft-error{
    @apply tw:border-0 tw:border-l-4 tw:bg-red-500/10 tw:px-4 tw:py-2;
}
.bd-blue.ft-blue{
    @apply tw:border-0 tw:border-l-4 tw:bg-blue-500/10 tw:px-4 tw:py-2;
}
#identity_piece,#identity_picture{
    @apply tw:mb-2;
}

.closeAttachmentModal{
    @apply tw:rounded-md;
}
.nc_span{
    @apply tw:inline-flex tw:items-center tw:rounded-full tw:bg-red-400/10 tw:px-1.5 tw:py-0.5 tw:text-xs tw:font-medium tw:text-red-400;
}
.green_span{
    @apply tw:inline-flex tw:items-center tw:rounded-full tw:bg-green-400/10 tw:px-1.5 tw:py-0.5 tw:text-xs tw:font-medium tw:text-green-400;
}
.orange_span{
    @apply tw:inline-flex tw:items-center tw:rounded-full tw:bg-orange-400/10 tw:px-1.5 tw:py-0.5 tw:text-xs tw:font-medium tw:text-orange-400;
}
.blue_span{
    @apply tw:inline-flex tw:items-center tw:rounded-full tw:bg-blue-400/10 tw:px-1.5 tw:py-0.5 tw:text-xs tw:font-medium tw:text-blue-400;
}