@import "tailwindcss" prefix(tw);
@import url(https://fonts.bunny.net/css?family=ubuntu-condensed:400|ubuntu-sans:100,200,300,400,500,600,700,800,900);
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

@source "../../contao/templates/**/*.html.twig";
@source "../../contao/templates/**/*.html5";
@source "./safeword.txt";

@theme{
    --color-acqpa-50: oklch(0.974 0.011 252.087);
    --color-acqpa-100: oklch(0.945 0.021 252.497);
    --color-acqpa-200: oklch(0.885 0.046 245.288);
    --color-acqpa-300: oklch(0.79 0.087 244.452);
    --color-acqpa-400: oklch(0.686 0.13 245.281);
    --color-acqpa-500: oklch(0.601 0.147 248.173);
    --color-acqpa-600: oklch(0.536 0.149 251.832);
    --color-acqpa-700: oklch(0.436 0.12 252.833);
    --color-acqpa-800: oklch(0.392 0.1 251.451);
    --color-acqpa-900: oklch(0.351 0.082 252.262);
    --color-acqpa-950: oklch(0.269 0.061 253.199);
    --color-acqpa: oklch(0.536 0.149 251.832);

    --font-body: "Ubuntu Sans", sans-serif;
    --font-alternative: "Ubuntu Condensed", sans-serif;

}
body{
    @apply tw:font-body tw:bg-neutral-50 tw:text-neutral-800;
}

#wrapper{
    @apply tw:bg-neutral-50;
}

#container > main{
    @apply tw:bg-white tw:p-6 tw:rounded-md;
}

#container-simple > main > div{
    @apply tw:bg-white tw:p-6 tw:rounded-md;
}


#mainNav{
    @apply tw:bg-neutral-800;
    #menu-button-1{
        @apply tw:!bg-transparent;
    }
}

form .formbody {
    label{
        @apply tw:text-neutral-700;
    }
    @apply tw:text-neutral-900;
    .select2FW-wrapper .select2-container .select2-selection,
    input, textarea, select, .captcha{
        @apply tw:mt-1 tw:block tw:w-full tw:rounded-md tw:bg-neutral-100 tw:border-transparent tw:focus:border-neutral-500 tw:focus:bg-white tw:focus:ring-0;
        @apply tw:disabled:bg-neutral-100/50 tw:disabled:text-neutral-900/70 tw:disabled:border-neutral-100/50 tw:hover:disabled:bg-neutral-100/70 tw:hover:disabled:border-neutral-100/70 tw:disabled:cursor-not-allowed;
    }


    input.checkbox:checked + label::before{
        @apply tw:bg-neutral-600;
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }

    input.checkbox + label{
        @apply tw:before:rounded tw:before:bg-neutral-200 tw:before:border-transparent tw:before:size-4 tw:before:absolute tw:before:-right-0.5;
        @apply tw:before:focus:border-transparent tw:before:focus:bg-neutral-200 tw:before:text-neutral-700;

        @apply tw:after:!sr-only tw:after:content-none;
    }
    .btn, .btn-lg, .btn-load, .btn-sm, [class*="btn-bd-"], [class*="btn-bg-"], button:where([type="submit"], [type="button"]), input:where([type="submit"], [type="button"]){
        @apply tw:uppercase tw:rounded-md tw:bg-acqpa-600 tw:px-3.5 tw:py-2.5 tw:text-sm tw:font-semibold tw:text-white tw:shadow-xs tw:transition-all;
    }
    .widget-checkbox legend{
        @apply tw:float-none;
    }
}

h1, h2, h3, h4, h5, h6{
    @apply tw:font-medium tw:uppercase tw:text-acqpa tw:font-alternative;
}

.bg-white .formbody{
    .select2FW-wrapper .select2-container .select2-selection,
    input[type],
    .textarea{
        @apply tw:border-neutral-100;
    }
}


.formbody .widget{
    @apply tw:content-start;
}
.mod_personalData .formbody{
 @apply tw:grid tw:grid-cols-1 tw:gap-2 tw:md:grid-cols-2 tw:md:gap-4;
}

/* Style pour le formulaire de login */

.mod_registration .formbody{
    @apply tw:grid tw:grid-cols-1 tw:gap-2 tw:md:grid-cols-2 tw:md:gap-4;
    .widget-submit{
        @apply tw:col-start-1 tw:col-end-2 tw:md:col-end-3;
        button{
            @apply tw:w-full tw:mt-4;
        }
    }
}
#main-menu .level_1{
    @apply tw:flex tw:space-x-4 tw:p-0 tw:m-0;
    li a{
        @apply tw:rounded-md tw:px-3 tw:py-2 tw:text-sm tw:font-medium tw:!text-neutral-300 tw:hover:!bg-white/5 tw:hover:!text-white;
    }
    li.active strong{
        @apply tw:!rounded-md tw:!bg-neutral-900 tw:px-3 tw:py-2 tw:text-sm tw:font-medium tw:!text-white;
    }
}

#mobile-menu .level_1{
    @apply tw:space-y-1 tw:px-2 tw:pt-2 tw:pb-3;
    li a{
        @apply tw:block tw:rounded-md tw:px-3 tw:py-2 tw:text-base tw:font-medium tw:!text-neutral-300 tw:hover:text-white;
    }
    li.active strong{
        @apply tw:block tw:rounded-md tw:px-3 tw:py-2 tw:text-base tw:font-medium tw:!text-white;
    }
}

#menu-0 .level_1{
    @apply tw:space-y-1 tw:px-2 tw:p-0 tw:m-0;

    li a{
        @apply tw:block tw:px-4 tw:py-2 tw:text-sm tw:text-neutral-700 tw:focus:outline-hidden;
    }
}

.tw-pill{
    @apply tw:inline-flex tw:items-center tw:gap-x-1.5 tw:rounded-full tw:px-2 tw:py-1 tw:text-xs tw:font-medium tw:text-neutral-900 tw:inset-ring tw:inset-ring-neutral-200;
    svg{
        @apply tw:size-1.5;
    }
    &.tw-pill-refused svg{
        @apply tw:fill-red-500;
    }
    &.tw-pill-accepted svg{
        @apply tw:fill-green-500;
    }
    &.tw-pill-pending svg{
        @apply tw:fill-orange-500;
    }
    &.tw-pill-wait-valid svg{
        @apply tw:fill-indigo-500;
    }
}
.mod_article.block{
    @apply tw:overflow-visible;
}

ol.vertical-menu{
    @apply tw:space-y-4 tw:m-0 tw:p-0;
    counter-reset: section;
    .element-wrapper{
        .icon{
            @apply tw:before:size-4 tw:before:text-gray-500 tw:before:inline-block;
            @apply tw:before:antialiased tw:before:content-['\e105'];
            font: var(--fa-font-duotone-light);
        }
        @apply tw:bg-white tw:items-center tw:grid tw:gap-2 tw:grid-cols-[auto_1fr_auto] tw:text-gray-300 tw:w-full tw:p-3 tw:text-gray-700 tw:border tw:border-gray-300 tw:rounded-lg tw:bg-gray-50;
        @apply tw:before:content-[counter(section)] tw:before:uppercase tw:before:font-medium tw:before:font-alternative;

        h3{
            @apply tw:font-medium tw:text-gray-700 tw:text-lg tw:uppercase tw:m-0;
        }
        &.current{
            @apply tw:text-acqpa-700 tw:border-acqpa-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-acqpa-500;}
            h3{@apply tw:text-acqpa-700;}
            .icon{@apply tw:before:text-acqpa-700 tw:before:content-['\e20e'];}
        }
        &.success{
            @apply tw:text-green-700 tw:border-green-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-green-500;}
            h3{@apply tw:text-green-700;}
            .icon{@apply tw:before:text-green-700 tw:before:content-['\f058'];}
        }
        &.warning{
            @apply tw:text-orange-700 tw:border-orange-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-orange-500;}
            h3{@apply tw:text-orange-700;}
            .icon{@apply tw:before:text-orange-700 tw:before:content-['\f06a'];}
        }
        &.error{
            @apply tw:text-red-700 tw:border-red-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-red-500;}
            h3{@apply tw:text-red-700;}
            .icon{@apply tw:before:text-red-700 tw:before:content-['\f2ee'];}
        }
        &.retry{
            @apply tw:text-acqpa-700 tw:border-acqpa-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-acqpa-500;}
            h3{@apply tw:text-acqpa-700;}
            .icon{@apply tw:before:text-acqpa-700 tw:before:content-['\f021'];}
        }

        &.validation-ongoing{
            @apply tw:text-violet-700 tw:border-violet-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-violet-500;}
            h3{@apply tw:text-violet-700;}
            .icon{@apply tw:before:text-violet-700 tw:before:content-['\f0a9'];}
        }
        &.validation-success{
            @apply tw:text-lime-700 tw:border-lime-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-lime-500;}
            h3{@apply tw:text-lime-700;}
            .icon{@apply tw:before:text-lime-700 tw:before:content-['\e1d9'];}
        }
        &.validation-not-started{
            @apply tw:text-slate-700 tw:border-slate-300;
            .vertical-menu-element i{@apply tw:size-4 tw:text-slate-500;}
            h3{@apply tw:text-slate-700;}
            .icon{@apply tw:before:text-slate-700 tw:before:content-['\e105'];}
        }

    }
    .element-wrapper::before {
        counter-increment: section 1;
    }


}


